################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AngularCoreTemplate/v17/.wsuo
/AngularCoreTemplate/.vs/AngularCoreTemplate/FileContentIndex
/AngularCoreTemplate/obj
/AngularCoreTemplate/.vs
/.vs
/AngularCoreTemplate/bin/Debug/net6.0
/AngularCoreTemplate/ClientApp/.angular/cache/14.0.3
/AngularCoreTemplate/ClientApp/.angular/cache/14.0.3
/AngularCoreTemplate/ClientApp/node_modules
