<h1 id="tableLabel">Hellow World Service Results</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!models"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="models">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>      
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let model of models">
          <td>{{ model.id }}</td>
          <td>{{ model.name }}</td>
      </tr>
  </tbody>
</table>
